
---
import LoginForm from "../components/LoginForm.jsx";
import "../styles/global.css"
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.svg" />
    <title>Login</title>
  </head>
  <body>
    <LoginForm client:load />
  </body>
</html>

